.updateForm {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.updateInput {
  border: 0;
  background: transparent;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 1rem 0 0;
  border-bottom: 0.2rem solid var(--color-list);
  color: var(--color-list);
  width: 50%;
  outline: none;
}

.updateButton {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 0.2rem solid var(--color-list);
  color: var(--color-list);
  padding: 0;
  margin-left: 1rem;
}
