.nav {
  position: relative;
  height: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

nav ul li {
  padding: 0.5rem;
}

nav ul li a {
  font-size: 2rem;
  font-weight: bold;
}

nav ul li.active a {
  text-decoration: underline;
}

.darkMode {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  background: transparent;
}

.light {
  width: 0;
  height: 0;
  border-bottom: 1.5rem solid white;
  border-top: 1.5rem solid transparent;
  border-left: 1.5rem solid white;
  border-right: 1.5rem solid transparent;
}

.dark {
  width: 0;
  height: 0;
  border-bottom: 1.5rem solid black;
  border-top: 1.5rem solid transparent;
  border-left: 1.5rem solid black;
  border-right: 1.5rem solid transparent;
}
